<ion-header>
  <ion-toolbar>
    <ion-title>Players</ion-title>

    <ion-buttons slot="end">
      <ion-button *ngIf="isAuthenticated()" [routerLink]="['/players/new']" fill="clear">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>

      <ion-button *ngIf="isAuthenticated()" (click)="logout()" fill="clear">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>

      <ion-button *ngIf="!isAuthenticated()" [routerLink]="['/auth/login']" fill="clear">
        <ion-icon slot="icon-only" name="log-in-outline"></ion-icon>
      </ion-button>

      <ion-button *ngIf="!isAuthenticated()" [routerLink]="['/auth/register']" fill="clear">
        <ion-icon slot="icon-only" name="person-add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-spinner *ngIf="isLoading()"></ion-spinner>

  <ion-list *ngIf="!isLoading()">
    <ion-item *ngFor="let p of players()" [routerLink]="['/players', p._id]">
      <ion-label>
        <h2>{{ p.name }}</h2>
        <p>{{ p.team }} · {{ p.position }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <p *ngIf="!isLoading() && players().length === 0">No hay jugadores aún.</p>
</ion-content>
